---
import { Trans } from "astro-i18next/components";
import { t } from "i18next";
import Link from "./link.astro";
import Section from "./section.astro";
---

<Section center>
  <div class="flex flex-col justify-center items-center text-center max-w-7xl">
    <h1 class="font-montserrat text-4xl lg:text-6xl mb-8 lg:leading-[50px]">
      {t("experience.title")}
    </h1>
    <p class="font-lora text-xl lg:text-2xl">
      <Trans i18nKey="experience.paragraph">
        <span class="text-green-200"></span>
      </Trans>
    </p>
  </div>
</Section>
{
  [0, 1, 2, 3, 4].map((index) => {
    const dark = index === 0;
    return (
      <Section dark={dark} blur>
        <div class="flex flex-col max-w-7xl">
          <h1 class="font-montserrat text-4xl mb-1 md:mb-2 lg:text-6xl lg:leading-[50px]">
            <span class="text-green-200">{index + 1}.</span>{" "}
            <Link
              href={t(`experience.experiences.${index}.link`)}
              target={
                t(`experience.experiences.${index}.link`) === "#"
                  ? "_self"
                  : "_blank"
              }
            >
              {t(`experience.experiences.${index}.company`)}
            </Link>
          </h1>
          <h2 class="text-xl md:text-2xl text-green-50 mb-1 md:mb-2">
            {t(`experience.experiences.${index}.position`)}
          </h2>
          <h3 class="text-lg md:text-xl text-green-50 mb-8">
            {t(`experience.experiences.${index}.dates`)}
          </h3>
          <p class="font-lora text-xl md:text-2xl">
            {t(`experience.experiences.${index}.summary`)}
          </p>
          <br />
          <p class="font-lora text-xl md:text-2xl">
            {t(`experience.experiences.${index}.technologies`)}
          </p>
        </div>
      </Section>
    );
  })
}
